node_modules
.vs
.idea
bin
output
build
release
deploy
coverage
obj
.DS_Store
**/.env
docker/pg
cert/*.pfx
cert/*.key
cert/*.crt
cert/*.cnf
**.pnp.*
npm-debug.log*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
orphanProtection.log
